<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /personal_library/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /personal_library/index.html [L]
</IfModule>